*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 60%;
  height: 1900px;

  margin: 0 auto;
  padding: 20px;

  text-align: center;
  display: flex;
  justify-content: space-between;
}

.Btn-tog {
  margin-top: 10px;
  margin-left: 20px;
}
button {
  margin-bottom: 20px;
  border-radius: 30px;
  border: 0;
}

p {
  margin-top: 10px;
}
body {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}

h1 {
  margin-bottom: 50px;
}

.Notes {
  padding-top: 40px;
  background-color: gainsboro;
  padding: 10px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  align-content: center;
  align-items: flex-start;
}
.input-button {
  margin-left: 50px;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 20px;
  border: 0;
}

/* .note-note {
  background-color: gainsboro;
  margin-top: 49px;
  text-align: left;
  padding: 10px;
  width: 50%;
} */

.icon-font {
  margin-left: 160px;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.res-search {
  padding: 10px;
  margin-top: 12px;
}

.lig {
  background-color: white;
}

.log {
  background-color: #18191a;
  color: blueviolet;
}
